---
// CampaignCard.astro
interface Props {
  title: string;
  dm: string;
  players: string[];
  type: string;
  series?: string;
}

const { title, dm, players, type, series } = Astro.props;
---

<div>
  <h1>{title}</h1>
  <div class="capitalize flex lg:flex-row flex-col gap-5 my-8" id="meta">
    <p>
      GM:
      <a
        href={`/gm/${dm}`}
        class="text-white-50 hover:bg-primary-900 p-3 bg-blue-brand"
      >
        <span class="text-white-50">{dm.replace(/-/g, " ")}</span>
      </a>
    </p>
    <p>Players:</p>
    <ul class="flex lg:flex-row flex-col flex-wrap gap-2 list-none lg:w-80">
      {
        players.map((player) => (
          <li class="p-3 bg-blue-brand text-white-50 list-none hover:bg-primary-900">
            <a href={`/players/${player}`} class="text-white-50 ">
              <span class="text-white-50">{player.replace(/-/g, " ")}</span>
            </a>
          </li>
        ))
      }
    </ul>
    <p>
      Type:
      <a
        href={`/type/${type}`}
        class="text-white-50 hover:bg-primary-900 p-3 bg-blue-brand"
      >
        <span class="text-white-50">{type.replace(/-/g, " ")}</span>
      </a>
    </p>
    {
      series && (
        <p>
          Series:
          <span class="text-white-50 p-3 bg-blue-brand">{series}</span>
        </p>
      )
    }
  </div>
</div>
